<%- include("./partials/header") %>
<h1>Personal Planner</h1>
<h2>Home</h2>
<nav>
    <ul>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </ul>
</nav>
<%- include("./partials/footer") %>
