<%- include("./partials/header") %>

<h1>Personal Planner</h1>
<p>enables users to create and manage lists of tasks, events, projects, or other personal commitments.</p>

<%- include("./partials/footer") %>