* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 60px auto 60px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: purple;
  text-decoration: none;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 1vmin;
}

#calendar div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  width: 10vmin;
  border: 0.5vmin solid plum;
  font-size: 3vmin;
} 

#calendar > div:nth-child(n+1):nth-child(-n+7) {
  background-color: purple;
  color: white;
}

#calendar > a > div:hover {
  background-color: #ffccff;
  cursor: pointer;
}

nav, footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}