* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 60px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font: 30vh;
}

a {
  color: #376648;
  text-decoration: none;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 1vmin;
}

#calendar div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  width: 10vmin;
  border: 0.5vmin solid #4c8761;
  border-radius: 20vh;
  font-size: 3vmin;
} 

#calendar > div:nth-child(n+1):nth-child(-n+7) {
  background-color:#4c8761;
  color: white;
}

#calendar > a > div:hover {
  background-color: #cfffe0;
  cursor: pointer;
}

nav, footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.task-container {
  border: 3px solid #4c8761;
  border-radius: 2vh;
  padding: 5vmin;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4c8761;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
